@{
    ViewData["Title"] = "Application Submitted";
}

@model FilmCollectionMission4.Models.ApplicationResponse

<h2 class="text-center">@Model.Title has been added to the database successfully</h2>

