@{
    ViewData["Title"] = "My Podcasts";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <br />

    <div>
        <h3>Check out this <a href="https://baconsale.com/">Baconsale site</a> at this link!</h3>
    </div>
</div>
